body {
  background:#0d0d0d;
  color:#00ff99;
  font-family: monospace;
  text-align:center;
  padding-top:60px;
}
#box {
  border:2px solid #00ff99;
  padding:20px;
  display:inline-block;
}
button {
  margin-top:20px;
  padding:10px 20px;
  cursor:pointer;
}
